<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Builder</title>
	<link rel="stylesheet" href="styles.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <h1>Character Builder</h1>
	<!-- Class Selection -->
	
	
<form id="classForm" method="get" action=""> <!-- Class Form -->
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;">
        <div class="dropdown-group">
            <label for="classselection">Select Class</label>
            <select name="classSelection" id="classselection" class="browser-default" onchange="updateFormAction()">
                <option value="" disabled selected>Select a class</option>
                <option value="1">Fighter</option>
                <option value="2">Barbarian</option>
                <option value="3">Rogue</option>
                <option value="4">Wizard</option>
                <option value="5">Cleric</option>
                <option value="6">Warlock</option>
                <option value="7">Bard</option>
                <option value="8">Druid</option>
                <option value="9">Ranger</option>
            </select>
        </div>

        <div class="classselected">
            <label for="classselected">Class Selected: {{ .printclass }}</label>
        </div>
		
		
    </div>

		<div class="statsselected">
        <!-- Character Stats -->
        <label for="strength">Strength:</label>
        <input type="number" id="strength" name="strength" value="{{ .stats.Strength }}"><br>
        <label for="vigor">Vigor:</label>
        <input type="number" id="vigor" name="vigor" value="{{ .stats.Vigor }}"><br>
        <label for="agility">Agility:</label>
        <input type="number" id="agility" name="agility" value="{{ .stats.Agility }}"><br>
        <label for="dexterity">Dexterity:</label>
        <input type="number" id="dexterity" name="dexterity" value="{{ .stats.Dexterity }}"><br>
        <label for="will">Will:</label>
        <input type="number" id="will" name="will" value="{{ .stats.Will }}"><br>
        <label for="knowledge">Knowledge:</label>
        <input type="number" id="knowledge" name="knowledge" value="{{ .stats.Knowledge }}"><br>
        <label for="resourcefulness">Resourcefulness:</label>
        <input type="number" id="resourcefulness" name="resourcefulness" value="{{ .stats.Resourcefulness }}"><br>
        <!-- Submit button -->
		</div>
    <input type="submit" value="Update Stats">
	
</form>
<form id="itemForm"  method="get" action=""> <!-- Items Form -->
    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Helmet From -->
        <!-- Dropdown for Helmet -->
        <div class="dropdown-group">
            <label for="itemSelect">Helmet</label>
            <select id="itemSelect" name="itemhelmet">
                <option value="">Select a helmet</option>
                {{range .helmetlist}}
                    <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>

		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_helmet">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_helmet">
				<option value="">Select Armor Rating</option>
                {{range .helmet_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
		<div class="dropdown-group">
            <label for="itemenchanment">Enchanments</label>
            <select id="itemechantment" name="enchantment_helmet">
				<option value="">Select Enchanment</option>
                {{range .helmet_enchantmentlist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
    </div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Chest From -->
    <div class="dropdown-group">
        <label for="itemSelect">Chest</label>
        <select id="itemSelect" name="itemchest">
			<option value="">Select a chest</option>
            {{range .chestlist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_chest">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_chest">
				<option value="">Select Armor Rating</option>
                {{range .chest_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
	</div>	
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Gloves Form -->
    <div class="dropdown-group">
        <label for="itemSelect">Gloves</label>
        <select id="itemSelect" name="itemgloves">
			<option value="">Select a gloves</option>
            {{range .gloveslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_gloves">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_gloves">
				<option value="">Select Armor Rating</option>
                {{range .gloves_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
    </div>	
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Pants Form -->
	<div class="dropdown-group">
        <label for="itemSelect">Pants</label>
        <select id="itemSelect" name="itempants">
			<option value="">Select a pants</option>
            {{range .pantslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_pants" onchange="updateColorBox()">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_pants">
				<option value="">Select Armor Rating</option>
                {{range .pants_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div>
	</div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Boots Form -->
	<div class="dropdown-group">
        <label for="itemSelect">Boots</label>
        <select id="itemSelect" name="itemboots">
			<option value="">Select a boots</option>
            {{range .bootslist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
		<div class="dropdown-group">
            <label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_boots">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_boots">
				<option value="">Select Armor Rating</option>
                {{range .boots_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
	</div>
	<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;"> <!-- Cloak Form -->
		<div class="dropdown-group">
        <label for="itemSelect">Cloak</label>
        <select id="itemSelect" name="itemcloak">
			<option value="">Select a cloak</option>
            {{range .cloaklist}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
        </div>
		<div class="dropdown-group">
			<label for="rarityselect">Rarity</label>
            <select id="rarityselect" name="rarityselect_cloak">
                <option value="">Select armor</option>
                <option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
            </select>
			
        </div>
		<div id="colorBox" style="width: 20px; height: 20px; margin-left: 10px; border: 1px solid #000;"></div>
		<div class="dropdown-group">
            <label for="itemarmorrating">Item Armor Rating</label>
            <select id="itemarmorrating" name="armorrating_cloak">
				<option value="">Select Armor Rating</option>
                {{range .cloak_ratinglist}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
			
        </div>
	</div>
	     <input type="submit" value="Update Stats">
</div>
</form>

<script>
function updateFormAction() {
    var classSelection = document.getElementById("classselection").value;
    if (classSelection) {
        // Set the action to the route that handles the class selection
        document.getElementById("classForm").action = "/charbuilder/" + classSelection;
    } else {
        // Reset the action if no class is selected
        document.getElementById("classForm").action = "";    
	}
		
}
</script>

    <h2>Character Stats</h2>
  
    <p>Health: {{ .computedstats.Health }}</p>
	
	<p>Memory Capacity: {{ .computedstats.MemoryCapacity }}</p>
	
	<p>Health Recovery Bonus: {{ .computedstats.HealthRecovery }}%</p>
	
	<p>Spell Recovery : {{ .computedstats.SpellRecovery }} %</p>
	
	<p>Move Speed: {{ .computedstats.MoveSpeed }} </p>
	
	<p>Move Speed Percentage: {{ .computedstats.MoveSpeedCalc }}%</p>
	
    <p>Action Speed: {{ .computedstats.ActionSpeed }}%</p>
	
	<p>Manual Dexterity: {{ .computedstats.ManualDexterity }}%</p>
	
	<p>Spell Casting Speed: {{ .computedstats.SpellCastingSpeed }}%</p>
	
	<p>Equip Speed: {{ .computedstats.EquipSpeed }}%</p>
	
	<p>Regular Interaction Speed: {{ .computedstats.RegularInteractionSpeed }}%</p>
	
	<p>Magical Interaction Speed: {{ .computedstats.MagicalInteractionSpeed }}%</p>
	
	<p>Persuasiveness: {{ .computedstats.Persuasiveness }}</p>
	
	<p>Buff Duration: {{ .computedstats.BuffDuration }}%</p>
	
	<p>Debuff Duration: {{ .computedstats.DebuffDuration }}%</p>
	
	<p>Cooldown Reduction: {{ .computedstats.CooldownReduction }}%</p>
	
	<p>Physical Power: {{ .computedstats.PhysicalPower }}%</p>
	
	<p>Magic Resistance: {{ .computedstats.MagicResistance }} points</p>
	
	<p>Armor Rating: {{ .computedstats.MagicResistance }} points</p>
	
	<p>Physical Damage Reduction {{ .computedstats.PhysicalDamageReduction }}% </p>
	
	<p>test {{ .test }} </p>

</body>
</html>
